header
{
background-image: url(images/taj.png);
}

#cim
{
font-family: times new roman;
color: white;
font-size: 5em;
float: right;
position: relative;
top: -150px;
left: -50px;
}

html
{
    background-color:rgb(156, 238, 89);
    color: black;
}

a
{
    color: rgb(153, 153, 153);
}

#alap
{
    border-spacing: 0px;
    padding: 0px;
    background-color: rgb(80, 144, 80);
    margin: auto;
    width: 980px;
}

#belsotablazat
{
    width: 940px;
    margin: auto;
    padding: 0px;
    border-spacing: 1px;
}

#masodik
{
 height: 40px;
 color: white;
 background-color: black;
}