header
{
background-image: url(images/taj.png);
}

#rajz
{
position: relative;
left: 130px;
top: 15px;
}

#cim
{
float: right;
color: white;
font-family: times new roman;
font-size: 5em;
}

html
{
    background-color:rgb(156, 238, 89);
    color: black;
}

a
{
    color: rgb(153, 153, 153);
}

#alap
{
    border-spacing: 0px;
    padding: 0px;
    background-color: rgb(80, 144, 80);
    margin: auto;
    width: 980px;
}